<%= form_for(@hour) do |f| %>
  <% if @hour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hour.errors.count, "error") %> prohibited this hour from being saved:</h2>

      <ul>
      <% @hour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="form-group">
		<%= f.label :client_id, 'Client Name:', class: 'label-control' %>
    <%= f.select( :client_id, @clients.all.collect { |c| [c.name, c.id] }, {},  { :class => 'select-control'}) unless @clients.nil? %>
  </div>

	<div class="form-group">
		<%= f.label :caregiver_id, 'Caregiver Name:', class: ' label-control' %>
    <%= f.select( :caregiver_id, @caregivers.all.collect { |cg| [cg.name, cg.id] }, {},  { :class => 'select-control'}) unless @caregivers.nil? %>
  </div>

  <div class="form-group">
    <%= f.label "Duration of Appointment [hours]:", class: 'label-control' %><br>
    <%= f.text_field :time, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit "Create Appointment Details", class: 'btn btn-default' %>
  </div>
<% end %>
