<p id="notice"><%= notice %></p>

<%=raw header_html('Appointment List') %>

<table class='table'>
  <thead>
    <tr>
    	<th>Created At</th>
      <th>Client</th>
      <th>Caregiver</th>
      <th>Hours</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hours.each do |hour| %>
      <tr>
        <td><%= hour.created_at.to_date %></td>
        <td><%= hour.client.name %></td>
        <td><%= hour.caregiver.name %></td>
        <td><%= hour.time %></td>
        <td><%= link_to 'Show', hour %></td>
        <td><%= link_to 'Edit', edit_hour_path(hour) %></td>
        <td><%= link_to 'Destroy', hour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hour', new_hour_path %>
