<p id="notice"><%= notice %></p>

<%=raw header_html('Appointment Details') %>

<p>
  <strong>Client:</strong>
  <%= @hour.client.name %>
</p>

<p>
  <strong>Caregiver:</strong>
  <%= @hour.caregiver.name %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @hour.time %>
</p>

<%= link_to 'Edit', edit_hour_path(@hour) %> |
<%= link_to 'Back', hours_path %>
