<%= form_for(@client, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: 'label-control' %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :address, class: 'label-control' %><br>
    <%= f.text_field :address, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :phone, class: 'label-control' %><br>
    <%= f.text_field :phone, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :emergency_contact, class: 'label-control' %><br>
    <%= f.text_field :emergency_contact, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :emergency_contact_phone, class: 'label-control' %><br>
    <%= f.text_field :emergency_contact_phone, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.check_box :active %> - <%= f.label :active %>
  </div>
  <div class="form-group">
    <%= f.label :birthdate, class: 'label-control' %><br>
    <%= f.date_select :birthdate, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :services_started, class: 'label-control' %><br>
    <%= f.date_select :services_started, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :client_agreement, class: 'label-control' %><br>
    <%= f.date_select :client_agreement, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-default' %>
  </div>
<% end %>
