<%=raw header_html('Listing Clients') %>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Hours</th>
      <th>Emergency contact</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.address %></td>
        <td><%= client.phone %></td>
        <td><%= client.hours.all.sum(:time) %></td>
        <td><%= client.emergency_contact %> | <%= client.emergency_contact_phone %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="col-sm-12" id="featured">   
  <div class="page-header text-muted">
  	<h3>Upcoming Client Agreement Renewals:</h3>
  </div> 
</div>
<table class='table'>
	<tbody>
		<% @upcoming_client_agreements.each do |bd| %>
			<tr>
				<td><%= link_to bd[0], client_path( bd[1] ) %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<div class="col-sm-12" id="featured">   
  <div class="page-header text-muted">
  	<h3>Upcoming Client Birthdays:</h3>
  </div> 
</div>
<table class='table'>
	<tbody>
		<% @upcoming_birthdays_clients.each do |bd| %>
			<tr>
				<td><%= link_to bd[1], client_path( bd[2] ) %></td>
				<td><%= bd[0] %></td>  
			</tr>
		<% end %>
	</tbody>
</table>

<div class="col-sm-12" id="featured">   
  <div class="page-header text-muted">
  	<h3>Upcoming Caregiver Birthdays:</h3>
  </div> 
</div>
<table class='table'>
	<tbody>
		<% @upcoming_birthdays_caregivers.each do |bd| %>
			<tr>
				<td><%= link_to bd[1], caregiver_path( bd[2] ) %></td>
				<td><%= bd[0] %></td>  
			</tr>
		<% end %>
	</tbody>
</table>
