<%= form_for(@caregiver, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @caregiver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@caregiver.errors.count, "error") %> prohibited this caregiver from being saved:</h2>

      <ul>
      <% @caregiver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: 'label-control' %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :phone, class: 'label-control' %><br>
    <%= f.text_field :phone, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :birthday, class: 'label-control' %><br>
    <%= f.date_select :birthday, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-default' %>
  </div>
<% end %>
