<p id="notice"><%= notice %></p>
<%=raw header_html('Caregiver List') %>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Birthday</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @caregivers.each do |caregiver| %>
      <tr>
        <td><%= caregiver.name %></td>
        <td><%= caregiver.phone %></td>
        <td><%= caregiver.birthday %></td>
        <td><%= link_to 'Show', caregiver %></td>
        <td><%= link_to 'Edit', edit_caregiver_path(caregiver) %></td>
        <td><%= link_to 'Destroy', caregiver, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Caregiver', new_caregiver_path %>
