<p id="notice"><%= notice %></p>

<%=raw header_html('Caregiver Info') %>
<div class='row'>
	<div class='col-sm-7'>
		<p>
		  <strong>Name:</strong>
		  <%= @caregiver.name %>
		</p>
		<p>
		  <strong>Phone:</strong>
		  <%= @caregiver.phone %>
		</p>
		<p>
		  <strong>Birthday:</strong>
		  <%= @caregiver.birthday %>
		</p>

		<p>
		  <strong>Total Hours:</strong>
		  <%= @hours_total.sum(:time) %>
		</p>
		<%= link_to 'Edit', edit_caregiver_path(@caregiver) %> | <%= link_to 'Back', caregivers_path %>
	</div>
	<div class='col-sm-5'>
		<table class='table'>
			<thead>
				<th>Clients</th>
			</thead>
			<tbody>
				<% @caregiver.client_list.each do |c| %>
					<tr> <td> <%= link_to c[0], client_path( c[1] ) %> </td> </tr>
				<% end %>
			</tbody>
		</table>	
		<table class='table'>
			<thead>
				<tr>
					<th>TimeFrame</th>
					<th>Hours</th>
					<th>Client</th>
				<tr>
			</thead>
			<tbody>
				<% @hours_total.each do |h| %>
					<tr> 
						<td> <%= link_to h.created_at.to_date, hour_path( h.id ) %> </td> 
						<td> <%= h.time %> </td>
						<td> <%= h.client.name %> </td>
				</tr>
				<% end %>
			</tbody>
		</table>			
	</div>
</div>
<div class="chart">
	<%= column_chart [ # Data Input ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		{ name: "Weekly Hours", data: @hours_total.group_by_week( :created_at, format: "%m/%d/%y" ).sum('time') },
		{ name: "Visits", data: @hours_total.group_by_week( :created_at, format: "%m/%d/%y" ).count }
	],
	{ library: # Style Input ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		{ height: 'null', # null or number in pixels
			width: 'null', # null or number in pixels
			title: "#{@caregiver.name}'s Care Timeline", # ===================================
			# titlePostion: "center", # Does not do anything
			titleTextStyle: {
				fontName: 'Helvetica',
				fontSize: 22,
				bold: true,
				italic: true,
      	color: "black",
      	auraColor: 'none',
      	opacity: 1.0
			} , # ---------------------------------------------------------------
			hAxis: { # ==========================================================
				title: "Week", # ///////////////////////////////////////////////////
				viewWindow: {
					min: 'null', # null or number
					max: 'null', # null or number
					},
				titleTextStyle: {
					fontName: 'Helvetica',
					fontSize: 22,
					bold: true,
					italic: false,
        	color: "black",
        	auraColor: 'none',
        	opacity: 1.0
				}, 
				textStyle: { # This styles the x-axis break point labels //////////
					fontName: 'Helvetica',
					fontSize: 14,
					bold: false,
					italic: false,
        	color: "black",
        	auraColor: 'none',
        	opacity: 1.0
        },
      	gridlines: { # ////////////////////////////////////////////////////
        	color: "transparent"  # options -> transparent, line
      	}, 
      	baselineColor: "#ccc",
      }, # ----------------------------------------------------------------
			vAxis: { # ==========================================================
				title: "Hours of Care", # ////////////////////////////////////
				titleTextStyle: {
					fontName: 'Helvetica',
					fontSize: 22,
					bold: true,
					italic: false,
        	color: "black",
        	auraColor: 'none',
        	opacity: 1.0
				}, 
				textStyle: { # This styles the y-axis break point labels //////////
					fontName: 'Helvetica',
					fontSize: 14,
					bold: false,
					italic: false,
        	color: "black",
        	auraColor: 'none',
        	opacity: 1.0
      	},
      	gridlines: { # ////////////////////////////////////////////////////
        	color: "transparent"  # options -> transparent, color
      	}, 
      	baselineColor: "#ccc",
      	direction: 1, # 1, -1
      	format: 'short', # none, decimal, scientific, currency, percent, short, long
      	viewWindow: {} 
    	}, # ---------------------------------------------------------------
   		tooltip: { # ========================================================
   			# this is the pop-up of data point information
   			ignoreBounds: false,
   			isHtml: false,
   			showColorCode: true,
   			textStyle: {
					fontName: 'Helvetica',
					fontSize: 14,
					bold: false,
					italic: false,
        	color: "black",
        	auraColor: 'none',
        	opacity: 1.0	
      	},
      	trigger: 'focus' # focus, none, selection
   		}, # ---------------------------------------------------------------
   		trendlines: {
   			# 0 => {
   			# 	color: "black",
   			# 	degree: 3,å
   			# 	labelInLegend: "Trendline",
   			# 	lineWidth: 2,
   			# 	opacity: 1.0,
   			# 	pointSize: 1,
   			# 	pointsVisible: false,
   			# 	showR2: true,
   			# 	type: 'linear', #linear, exponential, polynomial
   			# 	visibleInLegend: true
   			# }
   		},
    	backgroundColor: { # ===============================================
    		stroke: '#666',
    		strokeWidth: 0,
    		fill: 'white'
    	}, # ---------------------------------------------------------------
    	legend: { #=========================================================
    		position: 'bottom', # bottom, left, in, none, right, top
    		alignment: 'center', # start, center, end
    		textStyle: {

    		}
    	}, # ---------------------------------------------------------------
			animation: { # ======================================================
				duration: 1000, # in milliseconds
				easing: 'inAndOut', # Animation speed: linear, in, out, inAndOut
				startup: true
			}, # ----------------------------------------------------------------
			chartArea: { # ======================================================
				# gives options but should leave to automatic
				# left: 100, top: 10, height: '85%', width: '50%' 
			}, # ----------------------------------------------------------------
    	theme: 'null', # null, maximized
			# pie charts
			is3D: true, 
			# line graphs and scatter plots
			pointSize: 6,  
			curveType: "line" # 2 options -> function, line
   #  	annotations: { # ===================================================
   #  		# annotations are reference items placed on your chart
   #  		# not sure if this is functional in chartkick
   #  		alwaysOutside: true,
   #  		highContrast: true,
   #  		textStyle: {
   #  			fontName: 'Helvetica',
	 #        fontSize: 14,
	 #        bold: false,
	 #        italic: false,
   #     	  color: "black",
   #     	  auraColor: 'none',
   #     	  opacity: 1.0
   #  		},
   #  		boxStyle: {
   #  			stroke: '#888',
   #  			strokeWidth: 1,
   #  			rx: 10,
   #  			ry: 10,
   #  			gradient: {
   #  				color1: '#fbf6a7',
   #  				color2: '#33b679',
   #  				x1: '0%', y1: '0%',
   #  				x2: '100%', y2: '100%',
   #  				useObjectBoundingBoxUnits: true
   #  			}
   #  		}
   #  	}, # --------------------------------------------------------------					
		} 
	} %>
</div>