<!-- sidebar -->
<div class="column col-sm-3" id="sidebar">
  <%= link_to "HamdardCenter", root_path, class: 'logo' %>
  <ul class="nav nav-pills nav-stacked nav-tabs">
    <li><%= link_to 'Client List', root_path, {role: "presentation", class: "active"} %></li>
    <li><%= link_to 'Caregiver List', caregivers_path %></li>
    <li><%= link_to 'Appointments List', hours_path %></li>
    <li><%= link_to 'Add New Client', new_client_path %></li>
    <li><%= link_to 'Add New Caregiver', new_caregiver_path %></li>
    <li><%= link_to 'Add New Appointment', new_hour_path %></li>
    <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
  </ul>
  <ul class="nav hidden-xs" id="sidebar-footer">
    <li>
      <a href="http://www.bootply.com"><h3>Basis</h3>Made with <i class="glyphicon glyphicon-heart-empty"></i> by Bootply</a>
    </li>
  </ul>
</div>
<!-- /sidebar -->
