<!DOCTYPE html>
<html>
<head>
  <title>Hamdardcenter2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
  <div class="box">
    <div class="row">
    	<%= render 'layouts/sidebar' %>
      <div class="column col-sm-9" id="main">
        <div class="padding">
          <div class="full col-sm-9">
						<!-- Flash Message Section     -->
						<% flash.each do |key, value| %>
  						<%= content_tag :div, value, class: "flash #{key}" %>
						<% end %>
						<!-- End Flash Message Section -->

						<%= yield %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>
